<div class="col-12">
   <div class="row">
      <div class="col-md-12 text-right">
         <h2 style="margin-top:0px">Generador de Códigos de Barra para Bienes</h2>
      </div>
   </div>
   <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
         <div class="btn-toolbar">
            <div class="btn-group" role="group">
               <button type="button" class="btn btn-default" (click)="refresh()">
                  <span class="fa fa-refresh"></span>&nbsp;Actualizar
               </button>
            </div>
         </div>
      </div>
   </div>
   <div class="row" style="margin-top:15px">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
         <div class="form-group row">
             <div *ngFor="let bien of bienes" style="padding: 10px; margin:10px; border-style: solid;">
                <ngx-barcode  [bc-value]="bien.codigo" [bc-display-value]="true"></ngx-barcode>
             </div>
         </div>
      </div>
   </div>
</div>
